/*========
FONTS
========*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,600;1,600&display=swap');
/*========
ROOT
========*/
:root {
    --clr-pink: hsl(322, 100%, 66%);
    --clr-pale-cyan: rgb(235, 251, 255);
    --clr-dark-cyan: hsl(192, 100%, 9%);
    --clr-grayish-blue: hsl(208, 11%, 55%);

    --ff-primary: "Open Sans", sans-serif;
    --ff-secondary: "Poppins", sans-serif;
}
/*========
RESET
========*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
img {
    width: 100%;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
::-webkit-scrollbar {
    display: none;
}
/*=================
CUSTOM STYLES
=================*/
body {
    font: 400 18px/1.5 var(--ff-primary);
    background-color: #fff;
    color: #000;
}
h1,h2,h3,h4 {
    font-family: var(--ff-secondary);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--clr-dark-cyan);
}
h1 {
    font-size: 1.75rem;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1.35rem;
}
.container {
    padding-inline: 1rem;
    max-width: 100%;
}
.primary-header {
    background: linear-gradient(rgba(235, 251, 255, .5), rgba(235, 251, 255, .5)),
    url("./images/bg-hero-mobile.svg") center/cover no-repeat;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}
.logo {
    width: 10rem;
}
.btn {
    padding: .5rem 1.8rem;
    background-color: #fff;
    color: #000;
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--ff-primary);
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
}
.btn:hover {
    opacity: .6;
}
/* banner */
.banner {
    display: grid;
    justify-content: center;
    padding-block: 3rem;
}
.hero {
    display: grid;
    gap: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}
.btn-accent {
    background-color: var(--clr-pink);
    color: #fff;
    width: max-content;
    font-size: .85rem;
    justify-self: center;
}

/*MAIN*/
main {
    display: grid;
    place-items: center;
    gap: 2rem;
    margin-top: 3rem;
}
.boxes {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, .1);
}
.box-info {
    text-align: center;
    color: var(--clr-grayish-blue);
}
.footer-box {
    margin-top: 4rem;
    margin-bottom: -4rem;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 3rem 1rem;
    width: 100%;
}
.footer-box h2 {
    font-size: 1.1rem;
}
/* footer */
.primary-footer {
    background-color: var(--clr-dark-cyan);
    width: 100vw;
}
.footer {
    display: grid;
    padding: 7rem 2rem 0 2rem;
    color: var(--clr-pale-cyan);
}
.footer-logo {
    width: 13rem;
    margin-bottom: 2rem;
}
.footer-icon {
    display: flex;
    margin-top: 1.2rem;
    gap: 1rem;
}
.icon {
    width: 1.2rem;
    flex-shrink: 0;
    color: #fff;
    animation: bounce 2s ease-in-out infinite;
}
.footer1 {
    margin-bottom: 3rem;
}
.footer-list li {
    padding-bottom: 1.5rem;
    cursor: pointer;
}
.footer-list li:hover {
    text-decoration: underline;
}
.copy {
    display: grid;
    place-items: center;
    padding-block: 3rem;
}
.social {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.social i:hover {
    color: var(--clr-pink);
}
.footer-small {
    font-size: .85rem;
}
@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
@media all and (min-width: 415px) {
    h1 {
        font-size: 2.5rem;
    }
    .container {
        padding-inline: 5rem;
    }
    .primary-header {
        background: linear-gradient(rgba(235, 251, 255, .5), rgba(235, 251, 255, .5)),
        url("./images/bg-hero-desktop.svg") center/cover no-repeat;
    }
    .banner {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 2rem;
    }
    .hero {
        text-align: left;
    }
    .btn-accent {
        justify-self: start;
    }
    main {
        margin-top: 4rem;
    }
    .boxes {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: start;
        padding: 2rem 1rem 2rem 7rem;
        gap: 6rem;
    }
    .boxes:nth-of-type(odd) .box-info {
        grid-row: 1;
    }
    .box-info {
        text-align: unset;
    }
    .footer-box {
        width: max-content;
        padding: 3rem 5rem;
    }
    .footer {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .footer-list {
        justify-self: center;
    }
    .copy {
        grid-template-rows: 1fr 1fr;
        place-items: start;
        gap: 5rem;
    }
}
